[submodule "demos/js/Mootools/mootools-core"]
	path = demos/js/Mootools/mootools-core
	url = git://github.com/mootools/mootools-core.git
[submodule "demos/js/Mootools/mootools-more"]
	path = demos/js/Mootools/mootools-more
	url = git://github.com/mootools/mootools-more.git
